{{#unless page.prerendered}}
  {{title page.title}}
{{/unless}}

{{!-- Our component manually inserts server-generated DOM into this element --}}
<div class="drupal-content"></div>

{{#if showingOverlay}}
  {{#each embeddedComponents as |c|}}
    {{#ember-wormhole to=c.target}}
      {{component c.name drupalArgs=c.drupalArgs}}
    {{/ember-wormhole}}
  {{/each}}
  {{yield}}
{{/if}}
